@model musiq.Models.User
@{
    ViewData["Title"] = "Login";
}
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form asp-action="Login">
            <h3 style="margin-top:4em; margin-bottom:25px; text-align:center" class="text-primary">Login</h3>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">email</label>
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">password</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="row" style="margin-top:45px; text-align:center">
                <input type="submit" value="submit" class="btn btn-primary" />
            </div>
            <div style="text-align:center; margin-top:8em;">
                <h6>Don't have an account?</h6>
                <a asp-action="Register" class="text-primary">Register</a>
            </div>
        </form>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

